# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
.venv/

# ANTLR generados (opcional, si prefieres regenerarlos en cada clon)
gen/
!gen/__init__.py

# VSCode
.vscode/

# ANTLR (descargar con tools/regenerate_parser.ps1)
tools/antlr-4.13.1-complete.jar

# Archivos generados por el pipeline
*.tac
*.ll
*.opt.ll
*.manual.ll

# Artefactos de compilación / binarios nativos
*.o
*.obj
*.exe
*_linux
*_windows
programa_*

# Caché de llvmlite
.llvmlite_cache/
*.llvmlite

# Documentación local (no versionada)
docs/

# Otros
.DS_Store
