# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
.venv/

# ANTLR generados (opcional, si prefieres regenerarlos en cada clon)
gen/
!gen/__init__.py

# VSCode
.vscode/

# ANTLR (descargar con tools/regenerate_parser.ps1)
tools/antlr-4.13.1-complete.jar

# Otros
.DS_Store
